* {
    background-color: rgb(57, 169, 169);
    font-family: "Courier New", monospace, Arial, sans-serif;
}


p, div, ul, ol, li, strong  {
    background-color: aqua;
}



body {
    height: auto;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    background-color: aqua;
    border: 1px solid black;
    }

h1,
h2 {
    background-color: aqua;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img {
    display:block;
    border: 1px solid rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
}

.text {
    border: 1px solid rgb(0, 0, 0);
    display:block;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 5px;
}


.button {
    background-color: #1c87c9;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .listOfRecipes a:hover {
    background-color: rgb(66, 28, 40);
  }

  .homepage-button a:hover {
    background-color: rgb(66, 28, 40);
  }


  /* .links-list a {
    background-color: rgb(179,57,81);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    margin: 10px;
    display: inline-block;
  }

  .links-list a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  } */
